#about {
    position: relative;
    padding-top: 5vmin;
}

#about p {
    position: absolute;
    top: 25vmin;
    width: 45%;
    font-size: 1.4rem;
    line-height: 1.4;
    word-break: break-word;
    padding-left: 5vmin;
}


.tools-wrapper {
    color: var(--light);
    position: absolute;
    right: 5vmin;
    top: 7vmin;
    scroll-snap-align: start;
}

.tools-wrapper > h4 {
    font-size: 45px;
    text-align: right;
    margin-bottom: 4%;
}

.tools-list-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50vmin;
}

.tools-list-wrapper ul {
    border-top: 2px solid var(--light);
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: right;
    text-transform: lowercase;
    width: 14vmin;
    margin: 5% 0 5% 5%;
}

.circle-big {
    background: var(--red);
    position: absolute;
    width: 160vmin;
    height: 160vmin;
    right: 0;
    top: -10vmin;
    z-index: -10;
    clip-path: circle(50% at 100% 0%);
}

@media only screen and (max-width: 1125px) {

    #about {
        height: 150vh;
    }

    .about-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .circle-big {
        display: none;
    }

    #about p, .tools-wrapper {
        height: 52vh;
        box-sizing: content-box;
        width: 100%;
        padding: 50px;
        position: initial;
    }

    .tools-wrapper {
        background-color: var(--red);
    }

    .tools-list-wrapper {
        width: 80vw;
        height: 100%;
    }

    .tools-list-wrapper h4 {
        width: 80vw;
    }

    .tools-list-wrapper ul{
        width: 20vw;
    }

}