#about {
    position: relative;
    box-sizing: content-box;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-wrapper {
    align-self: center;
    width: 40vw;
    padding-top: 7vmin;
    padding-left: 5vmin;
}

.about-wrapper p {
    line-height: 1.4;
    margin: 4% auto;
    word-break: break-word;
}

.tools-wrapper {
    color: var(--light);
    margin: -5% 5vmin;
}

.tools-wrapper > h4 {
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 4%;
}

.tools-list-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tools-list-wrapper ul {
    border-top: 2px solid var(--light);
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: right;
    text-transform: lowercase;
    width: 14vmin;
    margin: 5% 0 5% 5%;
}

.circle-big {
    background: var(--red);
    position: absolute;
    width: 180vmin;
    height: 180vmin;
    right: 0;
    top: -10vmin;
    z-index: -10;
    clip-path: circle(50% at 100% 0%);
}

/*** MEDIA QUERIES ***/

/* Tablet sizing */
@media only screen and (max-width: 768px) {

    .section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-wrapper {
        width: 100%;
        flex: 0 auto;
        flex: 0 1 50vh;
    }
    .about-wrapper p {
        font-size: 1.2rem;
    }

    .circle-big {
        display: none;
    }

    .tools-wrapper {
        color: var(--light);
        background-color: var(--red);
        margin: 0;
        width: 100%;
        flex: 0 1 auto;
        padding: 3%;
    }

    .tools-wrapper>h4 {
        font-size: 2rem;
    }

    .tools-list-wrapper {
        width: 100%;
        overflow: hidden;
        margin: 0;
    }

    .tools-list-wrapper ul {
        font-size: 1.2rem;
    }
}