#about {
    position: relative;
    box-sizing: content-box;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-wrapper {
    align-self: center;
    width: 40vw;
    padding-top: 7vmin;
}

.about-wrapper p {
    line-height: 1.4;
    margin: 4% auto;
    word-break: break-word;
}

.tools-wrapper {
    background-color: var(--red);
    color: var(--light);
    padding: 5vmin;
    box-shadow: var(--blue) 10px 10px;
}

.tools-wrapper > h4 {
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 4%;
}

.tools-list-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tools-list-wrapper ul {
    border-top: 2px solid var(--light);
    width: 100px;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: right;
    text-transform: lowercase;
    margin: 7% 0 7% 7%;
}

/*** MEDIA QUERIES ***/

/* Tablet sizing */
@media only screen and (max-width: 768px) {

    .section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-wrapper {
        width: 100%;
        padding: 7vmin;
    }
    .about-wrapper p {
        font-size: 1.2rem;
    }

    .tools-wrapper {
        color: var(--light);
        background-color: var(--red);
        margin: auto;
        padding: 5% auto;
        width: 80%;
    }

    .tools-wrapper>h4 {
        font-size: 2rem;
    }

    .tools-list-wrapper {
        width: 100%;
        justify-content: flex-end;
    }

    .tools-list-wrapper ul {
        font-size: 1.1em;
        margin: 2%;
    }
}