.circle-wrapper {
    transform: rotate(-45deg);
    width: 50vw;
}

#landing .circle-wrapper {
    margin-top: -40%;
}

#contact .circle-wrapper {
    margin-bottom: 40%;
}

.circle {
    position: absolute;
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
}

.circle-inner {
    background: rgba(237, 74, 62, 0.83);
    z-index: 10;
    transform: translateX(50%);
}

.circle-outer:first-of-type {
    background: var(--light);
    animation: unfold-circle2 1s linear;
    animation-fill-mode: forwards;
}

.circle-outer:last-of-type {
    animation: unfold-circle1 1s linear;
    animation-fill-mode: forwards;
}

@keyframes unfold-circle1 {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes unfold-circle2 {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 768px) {

    #landing .circle-wrapper {
        margin-top: -20%;
        margin-left: -30%;
    }

}