#contact {
    position: relative;
}

.contact-links {
    color: var(--dark);
    border-right: 2px solid var(--dark);
}

.contact-links a:visited,
.contact-links a:active {
    color: var(--dark);
}
