#contact {
    position: relative;
}

.contact-links {
    color: var(--dark);
    border-right: 2px solid var(--dark);
}

.contact-links a,
.contact-links a:visited,
.contact-links a:active {
    color: var(--dark);
}

.contact-links a {
    background-image: linear-gradient(var(--light) 50%, var(--dark) 50%);
    background-size: 0px;
}

.contact-links a:hover {
    animation: highlightlinks 0.1s ease;
    animation-fill-mode: forwards;
}

@keyframes highlightlinks {
    from {
        background-position-y: -0%;
    }

    to {
        color: var(--light);
        background-position-y: 100%;
        background-size: auto 175%;
    }
}

/* Form styling */

.form-wrapper {
    padding: 5vmin;
    align-self: center;
    width: 80vmin;
}

form {
    height: 450px;
}

label {
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    text-transform: capitalize;
}

input[type="text"],
input[type="email"] {
    width: 80%;
    height: 80px;
    padding: 50px 0 10px 0;
    border: none;
    border-bottom: 2px solid var(--dark);
    font-family: 'Helvetica Neue';
    font-size: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-bottom: 2px solid var(--red);
    transition: 0.2s;
}

input[type="submit"] {
    margin-top: 50px;
    left: calc(5vmin + 310px);
    padding: 10px 35px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--light);
    background-color: var(--red)
}

input[type="submit"]:hover {
    color: var(--light);
    background-color: var(--blue);
    transition: 0.2s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 50px var(--light) inset !important;
    -webkit-box-shadow: 0 0 0 50px var(--light) inset !important;
}

/*** MEDIA QUIERIES ***/

/* Tablet sizing */
@media only screen and (max-width: 768px) {

    #contact {
        height: 100vh;
    }
    
    #contact .section-content {
        margin-top: 2%;
    }

    #contact .circle-wrapper {
        display: none;
    }

    .contact-links {
        position: absolute;
        right: 0;
        bottom: 0;
        display: initial;
        padding: 0;
        border: none;
        color: var(--light);
    }

    .contact-links>div {
        display: flex;
        height: 7vh;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        background-color: var(--blue);
        color: var(--light);
    }

    .contact-links ul {
        border: none;
        width: 100vw;
        color: var(--light);
    }

    .contact-links a,
    .contact-links a:visited,
    .contact-links a:active {
        color: var(--light);
    }

    .contact-links a {
        background-image: linear-gradient(var(--dark) 50%, var(--light) 50%);
        background-size: 0px;
    }

    .contact-links a:hover {
        animation: highlightnav 0.1s ease;
        animation-fill-mode: forwards;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vmin;
        height: 80vh;
    }

    input[type="text"],
    input[type="email"] {
        width: 90%;
    }
}