#landing {
    background-color: var(--blue);
    color: var(--light);
}

h1 {
    text-transform: lowercase;
    position: absolute;
    width: 685px;
    height: 172px;
    left: 108px;
    top: 255px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    line-height: 172px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
}

/* Add the animation */
/* h1::after { */
    /* content: "ана брдар"; */
    /* -webkit-text-stroke-width: 1px; */
/* } */