#landing {
    background-color: var(--blue);
    color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-heading {
    align-self: center;
}

h1 {
    display: flex;
    flex-direction: row;
    text-transform: lowercase;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    white-space: nowrap;
    font-size: 8rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

h1::after {
    content: "ана брдар";
    letter-spacing: 0;
    -webkit-text-stroke-width: 1px;
    animation: unfold1 1s linear;
    animation-fill-mode: forwards;
}

h1::before {
    content: "ana brdar";
    -webkit-text-stroke-width: 0.5px;
    animation: unfold2 1s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    text-transform: lowercase;
    opacity: 0;
    animation: appear 0.5s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/* Animations */

@keyframes unfold1 {
    0% {
        opacity: 0;
        top: 380px;
    }

    50% {
        opacity: 0.5;
        top: 480px;
    }

    100% {
        opacity: 1;
        top: 580px;
    }
}

@keyframes unfold2 {
    0% {
        content: "ana brdar";
        opacity: 0;
        top: 180px;
    }

    50% {
        content: "ana brdar";
        opacity: 0.5;
        top: 220px;
    }

    100% {
        content: "ana brdar";
        opacity: 1;
        top: 250px;
    }
}

@keyframes appear {
    from {opacity: 0} to {opacity: 1};
}

/* Smaller screen sizing */
@media only screen and (max-width: 1245px) {

    .main-heading {
        top: 30vh;
    }

    h1 {
        font-size: 6rem;
    }

    h3 {
        top: 280px;
    }


    @keyframes unfold1 {
        0% {
            opacity: 0;
            top: 20px;
        }

        50% {
            opacity: 0.5;
            top: 50px;
        }

        100% {
            opacity: 1;
            top: 80px;
        }
    }

    @keyframes unfold2 {
        0% {
            content: "ana brdar";
            opacity: 0;
            top: 100px;
        }

        50% {
            content: "ana brdar";
            opacity: 0.5;
            top: 130px;
        }

        100% {
            content: "ana brdar";
            opacity: 1;
            top: 160px;
        }
    }
}

/* Tablet sizing */
@media only screen and (max-width: 876px) {


    nav {
        display: none;
    }

}