.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vmin;
}

.project {
    width: 40vw;
    border-left: 4px solid var(--dark);
    padding-left: 40px;
    line-height: 50px;
    margin: 2%;
}

.project h5 {
    font-style: normal;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 46px;
    text-transform: lowercase;
    margin-bottom: 2%;
}

.project h5 a {
    background-image: linear-gradient(var(--light) 50%, var(--blue) 50%);
    background-size: 0px;
}

.project a,
.project a:active,
.project a:visited {
    color: var(--dark);
}

.project h5 a:hover {
    animation: highlightlinks 0.1s ease;
    animation-fill-mode: forwards;
}

.project span {
    font-weight: bold;
}

.project p {
    line-height: 30px;
    font-size: 1.2em;
    margin: 2% auto;
}

.projects-links-wrapper {
    display: flex;
    justify-content: flex-start;
}

.projects-links-wrapper span {
    margin: auto 20px;
}

.projects-links-wrapper a,
.projects-links-wrapper a:active,
.projects-links-wrapper a:visited {
    font-size: 1.2em;
    color: var(--red);
    font-weight: bold;
}

.project a:hover {
    color: var(--blue)
}

@media only screen and (max-width: 768px) {
    
    .project {
        width: 100%;
        margin: 5% auto;
    }
}