.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vmin;
}

.project {
    width: 40vw;
    border-left: 3px solid var(--dark);
    font-size: 1.4rem;
    padding-left: 2%;
    line-height: 50px;
    margin: 2%;
}

.project h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 46px;
    text-transform: lowercase;
    margin-bottom: 2%;
}

.project span {
    font-weight: bold;
}

.project a {
    padding: 0 20px 0 0;
}

.project a,
.project a:active,
.project a:visited {
    color: var(--red)
}

.project a:hover {
    color: var(--blue)
}