:root {
  --light: #FCFCF6;
  --dark: #051C36;
  --blue: #0C478B;
  --red: #ED4A3E;
  font-family: 'Helvetica Neue';
  color: var(--dark);
  overflow-x: hidden;
}

/* General styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 5vmin;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  text-transform: lowercase;
}

ul {
  list-style-type: none;
}

/* Menu top and bottom */

.menu-vertical {
  position: absolute;
  bottom: 100px;
  right: 10vh;
  z-index: 10;
  padding: 0 20px 2px;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

/* Section headings */

.section-heading {
  display: inline;
  font-family: "Helvetica Neue";
  padding: 0 4vmin;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  color: var(--red);
  border-bottom: 12px solid var(--dark)
}

@media only screen and (max-width: 768px) {

    :root {
      scroll-snap-type: initial;
    }

    section {
      height: initial;
      margin-top: 5%;
    }

    section:first-of-type {
      margin-top: 0;
    }

    .section-heading {
      font-size: 3rem;
      border-bottom: 8px solid var(--dark)
    }
}
