:root {
  --light: #FCFCF6;
  --dark: #051C36;
  --blue: #0C478B;
  --red: #ED4A3E;
  font-family: 'Helvetica Neue';
  color: var(--dark);
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

/* General styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

a {
  text-decoration: none;
  text-transform: lowercase;
}

ul {
  list-style-type: none;
}

.menu-vertical {
  position: absolute;
  bottom: 100px;
  right: 10vh;
  z-index: 10;
  padding: 0 20px 2px;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

.menu-vertical a {
  background-image: linear-gradient(var(--blue) 50%, var(--light) 50%);
  background-size: 0px;
}

.menu-vertical a:hover {
  animation: highlight 0.1s ease;
  animation-fill-mode: forwards;
}

@keyframes highlight {
  from {
      background-position-y: -0%;
  } to {
    color: var(--blue);
    background-position-y: 100%;
    background-size: auto 175%;
  }
}


.section-heading {
  width: 642px;
  height: 120px;
  font-family: "Helvetica Neue";
  padding-left: 4vmin;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  color: var(--red);
  border-bottom: 15px solid var(--dark)
}